table {width:100%;border-collapse:collapse;}
table table{ border-style:hidden;}
table.gridtable td
{
    border:1px solid black;font-size: 10pt;padding:1px; 
}
table.gridtable th {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}