table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	table-layout: fixed;
	margin: 3px;
}
table.gridtable th {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.pager{
	margin-top:3px;
	margin-left:3px;
	margin-right:3px;
	margin-bottom: 0px;
}

input.condition{
	margin-bottom:3px;
	width: 130px;
}