table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	table-layout: fixed;
	margin: 3px;
}
table.gridtable th {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #666666;
}

/*段落超出长度后，会隐藏后面部分并加上省略号width: 100px; */
p.breviary{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
[contentEditable]{
	color:rgb(120, 118, 235);
}

.pager{
	margin-top:3px;
	margin-left:3px;
	margin-right:3px;
	margin-bottom: 0px;
}

input.condition{
	margin-bottom:3px;
	width: 130px;
}

/*
.gridtable { border-top: 1px solid #009286; border-right: 1px solid #009286; border-bottom: 1px solid #009286;}  
.gridtable thead tr{background:url(../images/topBar_bg.gif); font-weight:bold; text-align:center;}  
.gridtable tbody tr td{text-align:left; margin:0px; padding:8px; white-space:nowrap;}  
.gridtable .null{margin:0px; padding:0px;}  
.gridtable tbody tr{line-height: 120%;}  
*/
.gridtable .even{ background:rgb(255, 255, 255);}     /* 偶数行样式 E1F4EE*/  
.gridtable .odd{ background:rgb(255, 255, 255);}      /* 奇数行样式 E1F4EE*/  
.gridtable .over{background:rgb(196, 196, 164);}      /* 鼠标掠过行样式 CCCC99*/  
.gridtable .selected{ background:rgb(209, 212, 22);color:rgb(52, 8, 250);} /* 选中行样式 BFDFFF*/  

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }

.ui-autocomplete-loading {
background: white url("../js/jquery-ui-1.12.1/images/ui-anim_basic_16x16.gif") right center no-repeat;
}  